<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="ISO-8859-1">
    <title>Story CRUD</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="view/app.js"></script>
    <style>
a {
	cursor: pointer;
	background-color: lightblue;
}
table, th, td {
  border: 1px solid black;
  vertical-align: top;
}


    </style>
</head>
<body>
<div ng-controller="StoryCRUDCtrl">
    <div>
        <table>
            <tr>
                <td width="100">ID:</td>
                <td><input id="id" ng-model="story.id" type="text"/></td>
            </tr>
            <tr>
                <td width="100">Title:</td>
                <td><input id="title" ng-model="story.title" type="text"/></td>
            </tr>
            <tr>
                <td width="100">Story:</td>
                <td><textarea cols="100" id="contents" ng-model="story.contents" rows="2"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <img ng-show='story.image != undefined' src='data:image/png;base64, {{story.image}}'/>
                </td>
            </tr>
        </table>
    </div>
    <br/> <br/>
    <a ng-click="getStory(story.id)">Get Story</a>
    <a ng-click="updateStory(story.id,story.title,story.contents)">Update Story</a>
    <a ng-click="addStory(story.title,story.contents)">Add Story</a>
    <a ng-click="deleteStory(story.id)">Delete Story</a>

    <br/> <br/>
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>

    <br/>
    <br/>
    <a ng-click="getAllStories()">Get all Stories</a><br/>
    <br/> <br/>
    <table ng-show="stories != undefined">

        <tr ng-repeat="stori in stories">

            <td width="200px">{{stori.title}}</td>

            <td width="300px">{{stori.contents}}</td>

            <td width="400px"><a ng-click='getImageUrl(stori.image)'><img height="100px"
                                                                          src='data:image/png;base64,{{stori.image}}'
                                                                          width="100px"/></a></td>

        </tr>

    </table>
</div>
</body>
</html>